$color-base: #07060B;

@mixin main-font {
  font: 400 16px 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @include main-font;
  line-height: 1.5rem;
  color: $color-base;
  background: #fff;
}

a {
  color: $color-base;
}

.result-status {
  margin-top: 1rem;
  > * {
    margin-bottom: 1rem;
  }
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5vh;
}

.intro {
  font-size: 1.1rem;
  line-height: 1.75rem;
  margin-bottom: 2.5rem;
}

.file-picker {
  visibility: hidden;
}

button {
  @include main-font;
  color: white;
  padding: 0.75rem 1.4rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(#000, .15);
  background: #32977B;
  cursor: pointer;
  transition: all .3s ease;

  &:active {
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    background: #d8d8d8;
    box-shadow: none;
  }
}

.image {
  width: 100%;
}

table {
  font-size: .9rem;
  border-collapse: collapse;

  td, th {
    text-align: left;
    padding: 0.5rem .75rem;
  }
}
